@model stajprojesi.Models.EntitiyFramework.konular
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@*<div class="container">
        <form method="post" action="">
            <div class="form-group">
                <label>Konu Giriniz</label>
                <input type="text" name="staj_konu" class="form-control" />

            </div>
            <button type="submit" class="btn btn-success">Ekle</button>
        </form>
    </div>*@

@using (Html.BeginForm("Kaydet", "Konu", FormMethod.Post))
{
<div class="container">
                
    <div class="form-group">
        <label>Konu Giriniz</label>

        
        @Html.TextBoxFor(m => m.konuad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.konuad)
    </div>
    @Html.HiddenFor(m=>m.id)
        <button type="submit" class="btn btn-success">Kaydet</button>
    <div style="width:10px; height:120px"></div>
    
</div>

        }
